*{
  box-sizing: border-box;
}
:root {
  /* pWhip-background color */
  --pWhip: #FFEFD5;
  /* cadetBlue - text color */
  --text: #5F9EA0;
  /* slateGray-button color */
  --multipleChoice: #2F4F4F;
  /* midnightBlue-title color */
  --title: #191970;
  /* steelBlue - question color */
  --question: #4682B4;

}

body {
  background-color: var(--pWhip);
  display:flex;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  color: var(--title);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--text);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

a:hover {
  color: var(--text);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

span {
  font-family: 'Archivo', sans-serif;
  font-style: italic, bold;
}

p {
  font-family: 'Archivo', sans-serif;
}

footer {
  /* css so footer is at bottom of viewport */
  flex-shrink: 0;
  font-size: .5rem;
}

/* class */
.score {

}

.timer {
  float:right;
}

.mainBody {
  align-content: center;
  margin-top: 5%;  
  margin-left: 20%;
  margin-right:20%;

}

.wrapper {
  
}

.start {
  
}

.button {
  background-color: Purple; /* Green */
  color: white;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius:5px;
}

.choice{
  float: left;
  clear: left;
  color: white;
  text-align: center;
  font-size: 15px;
  border-radius:5px;
}

.hide {
  display: none;
}

.feedbackHide {
  
}



/* id */
#time {

}

#quizTitle {
  text-align: center;
}

#instructions {
  font-size: 20px;
  color: var(--question);
}

#startScreen {
  display:inline-block;
}

#start {

}

#question{
  margin: .5
}

#questionTitle {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: var(--question);
}


#choice{

}

#endScreen{

}

#allDone{

}

#finalScore {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#initial{

}

#submit{

}

#feedback{

}



#answerCheck {
  font-style: italic;
  color: #4D5159;
}
